<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" beStrictAboutCoversAnnotation="true" beStrictAboutOutputDuringTests="true" beStrictAboutTodoAnnotatedTests="true" verbose="true">
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</coverage>
	<php>
		<ini name="error_reporting" value="-1"/>
		<server name="APP_ENV" value="test" force="true"/>
		<server name="SHELL_VERBOSITY" value="-1"/>
	</php>
	<testsuites>
		<testsuite name="Project Test Suite">
			<directory>tests</directory>
			<file>tests/DependantTest.php</file>
			<file>tests/TypeableTest.php</file>
			<file>tests/CommentableTest.php</file>
			<file>tests/NameableTest.php</file>
			<file>tests/ScopeableTest.php</file>
			<file>tests/ExpandableTest.php</file>
			<file>tests/MethodTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>